<h1>Scavenger.Rest</h1>
<h2>About Scavenger</h2>

<p>Scavenger is a distributed architecture for location-aware software. It's named after the idea to conduct campus-wide computer-guided scavenger hunts for new students as part of orientation.
</p>
<p>
    A couple of years ago a graduate project aimed at providing a framework for location-based applications in the context of ubiquitous gaming – an idea that delivers game content in every imaginable location. Typical examples of these applications are Ingress and (of course) Pokemon Go.
</p>

